*{margin:0;padding:0;}
img{max-width: 100% !important;}
body{width:100%;font-size:100%;background-color:#fff;overflow-x:hidden;}
a{text-decoration:none;color:rgb(14, 100, 188);}
a img{border:none;}
a:hover{text-decoration:underline;color:#ff0000;}
input:focus{outline:none;}
ul{list-style-type:none;}
#centering{margin:7px auto 0 auto;position:relative;width:94%;max-width:977px;}
#logo{float:left;padding-left:17px;width:208px;height:73px;margin-bottom:13px;}
.mail_b{width:92px;}
.read_us{position:absolute;width:114px;right:11.3%;top:39px;}
.read_us a{float:left;width:26px;height:26px;font-size:0;line-height:0;margin-right:12px;background:url('../img/read_us.png') no-repeat left top;}
#vk{background-position:left center;}
#twitt{background-position:left bottom;}
#social_label{position:absolute;width:114px;right:11.3%;top:16px;color:rgb(200, 200, 200);font:13px Arial;text-indent:0;}
img{border:medium none;}
.login_td{position:absolute;left:271px;top:20px;font:12px Arial, sans-serif;}
.top_link_login_authorized{color:rgb(150, 150, 150);text-decoration:underline;}
.top_link_login{color:rgb(14, 100, 188);text-decoration:underline;cursor:pointer;}
.ya-site-form__input{position:absolute;width:32%;padding-right:77px;height:26px;left:271px;top:39px;z-index:1;}
.ya-site-form__input-text{float:left;width:100%;border:1px solid #dbdbdb;height:24px;margin-bottom: -26px;font:13px Arial;font-style:oblique;}
#Buscar{float: right; margin: 0px -77px 0 0;background:none repeat scroll 0 0 lightgreen !important;width:77px;color:#000;font-size:13px;border:1px solid rgb(119, 119, 119);border-radius:0 13px 13px 0;height:26px;padding:0;cursor:pointer;z-index:999;}
#content{float:left;width:100%;position:relative;padding-top:76px;background-color:#fff;border-radius:6px;margin-bottom:19px;padding-bottom:20px;behavior:url(../other/PIE.html);-webkit-box-shadow:0 0 4px 3px #dbdbdb;-moz-box-shadow:0 0 4px 3px #dbdbdb;box-shadow:0 0 4px 3px #dbdbdb;}
#content p{text-indent:20px;}
#patch{position:absolute;left:20px;top:43px;}
#patch, #patch a{color:rgb(129, 129, 129);font:11px Arial, sans-serif;}
#nav{position:absolute;height:25px;width:98.2%;left:0.5%;padding-left:0.5%;background:rgb(44,153,200);padding-right:0.5%;top:5px;display:table;background:-moz-linear-gradient(top, rgba(44,153,200,1) 0%, rgba(44,153,200,1) 0%, rgba(22,128,177,1) 100%);background:-webkit-linear-gradient(top, rgba(44,153,200,1) 0%,rgba(44,153,200,1) 0%,rgba(22,128,177,1) 100%);background:linear-gradient(to bottom, rgba(44,153,200,1) 0%,rgba(44,153,200,1) 0%,rgba(22,128,177,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c99c8', endColorstr='#1680b1',GradientType=0);}
#m_m_left_item{display:block;width:5px;height:25px;position:absolute;z-index:9999;left:0;top:0;background:url('../img/menu_c.jpg') no-repeat left top;}
#m_m_right_item{display:block;width:5px;height:25px;position:absolute;z-index:9999;right:0;top:0;background:url("../img/menu_c.jpg") no-repeat right top;}
#nav a{position:relative;float:left;color:#fff;padding-top:4px;padding-bottom:0;height:21px;font:13px Arial, sans-serif;text-align:center;cursor:pointer;}
#nav #home{width:4.3%;}
#Art{width:10.1%;}
#Noticias{width:9.4%;}
#Video{width:7.6%;}
#Presen{width:13.5%;}
#Pruebas{width:9.6%;}
#Enfermedades{width:14.6%;}
#Farmacia{width:10.5%;}
#Calculadoras{width:13.5%;}
#Foro{background:none;width:6.9%;}
#nav a span{float:left;width:2px;height:17px;margin:0;background:url("../img/divaider.png") no-repeat right top;}
#nav a, #nav a:hover{text-decoration:none;}
#nav a:hover{background:rgb(26,132,181);background:-moz-linear-gradient(top, rgba(26,132,181,1) 0%, rgba(26,132,181,1) 0%, rgba(44,153,200,1) 100%);background:-webkit-linear-gradient(top, rgba(26,132,181,1) 0%,rgba(26,132,181,1) 0%,rgba(44,153,200,1) 100%);background:linear-gradient(to bottom, rgba(26,132,181,1) 0%,rgba(26,132,181,1) 0%,rgba(44,153,200,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a84b5', endColorstr='#2c99c8',GradientType=0);}
#home img{position:absolute;left:16px;top:8px;}
#main{display:table-cell;padding:0 311px 0 15px;text-align:left;}
#main p a:hover{text-decoration:none;}
p{font:87.5% Tahoma, Arial, sans-serif;color:rgb(43, 43, 43);text-align:justify;text-indent:20px;padding:3px 0 4px;line-height:129.7%;}
h1{font:162.5% Georgia, sans-serif;font-weight:normal;line-height:28px;color:rgb(43, 43, 43);margin-bottom:10px;}
h3{font:100% Tahoma;color:rgb(51, 51, 51);font-weight:bold;}
.startdate{font:75% Tahoma, Arial, sans-serif;font-weight:normal;color:rgb(129, 129, 129);margin-bottom:32px;padding-top:1px;}
center{text-align:center;overflow-x:hidden;}
center img{max-width:400px;}
.holder{padding:15px 0 15px 70px;min-height:74px;position:relative;margin:10px 0;border-top:1px dashed rgb(102, 102, 102);}
.pic{position:absolute;left:0;top:15px;padding:6px;width:50px;}
.title a{font:italic 14px/1em Georgia, "Times New Roman", Times, serif;color:rgb(0, 0, 0);text-decoration:none;}
.holder p{margin:0.5em 0;}
.holder .date{margin-left:0px;border-left:1px solid rgb(196, 196, 196);padding-left:10px;text-transform:uppercase;color:rgb(153, 153, 153);font:italic 12px/1em Arial, Helvetica, sans-serif;display: inline-block;margin-top: 10px;}
.ord_button{background-color:#FF5C73;color:#ffffff;display:inline-block;padding:15px 30px;font:28px Arial, sans-serif;behavior:url(../other/PIE.html);font-weight:bold;box-shadow:2px 3px 8px #999999;text-decoration:none;border-radius:8px;border:3px solid #ffffff;margin:20px 0 30px;line-height:28px;}
.ord_button:hover{background-color:#7CBC1F;box-shadow:2px 3px 3px #999999;text-decoration:none;color:white;}
#tab1_span{text-decoration:underline;padding:2px 0;font:123.0769% Georgia;color:rgb(136, 169, 6);cursor:default;}
#aside{position:absolute;width:240px;top:76px;right:14px;text-align:left;font:13px Arial, sans-serif;}
.div_3col{float:left;width:240px;margin-left:10px;padding-bottom:30px;}
.div_3col span, .div_3col img{display:block;width:100%;max-width:198px;margin-bottom:17px;}
#aside p{font-size:100%;text-indent:0;text-align:left;}
#aside_bot_bold_ul{font-weight:bold;list-style-type:disc;margin-bottom:17px;}
.CollapsiblePanelContent{margin:0;font-weight:normal;color:rgb(55, 137, 185);}
.pic img {
	width: 50px;
	height: 50px;
}
.photo_cho{float: left; margin: 0; margin-right: 15px; max-width: 40%;}
@media screen and (max-width:1024px){#social_label, .read_us{right:1%;}
    #home img{left:8px;}
    h1 {width: 100%;}}
@media screen and (max-width:800px){#main, #aside, .div_3col{display:block;position:static;padding:0 0 30px 0;width:94%;margin:0 auto;}
    h1{width:100%;}
    #patch{width:94%;left:3%;}
    .read_us, #social_label{display:none;}
    #aside{display: none;width:70%;min-width:200px;padding-top:15px;font-size:87.5%;}
    .div_3col span{max-width:100%;}
    .div_3col img{margin:0 auto 17px auto;}
    #aside_bot_bold_ul{list-style-type:none;}
    #tab1_span{text-align:center;}
}
@media screen and (max-width:700px){#nav a, .ya-site-form__input, .login_td, #m_m_right_item, #m_m_left_item{display:none;}
    #nav{width:96%;margin-left:1%;}
    #nav, #home{-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border-top-left-radius:6px;border-top-right-radius:6px;}
    #nav #home{display:block;width:100%;}
    #home img{position:static;text-align:center;}
}
@media screen and (max-width:600px){
    .photo_cho{float: none; display: block;margin: auto;}
}
@media screen and (max-width:412px){.title{position:absolute;left:66px;top:18px;}
    .holder{position:relative;padding-top:70px;padding-left:0;}
    .description_text, .box h1, .box .startdate{display:block;width:94%;margin:0 3% 0 3% !important;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {::i-block-chrome,#nav {min-width: 99.2%; width: 99.2%;}}
